section#firstScreen.first-screen

    .first-screen__video
        video(
            autoplay="autoplay"
            controlslist="nodownload"
            disablepictureinpicture=""
            loop="loop"
            muted="muted"
            playsinline=""
            preload="auto"
            src=""
            data-start-src="video/reviews-first-screen.mp4")
            source(src="" type="video/mp4")

    .first-screen__caption
        span всего
        span 3 минуты
        span внимания

    button.first-screen__play(
        type="button"
        data-toggle="modal"
        data-target="#modalYoutube"
        data-youtube-src="https://www.youtube.com/embed/r9pUJknYbjY?controls=0")