section#firstScreen.first-screen

    .first-screen__video
        video(
            autoplay="autoplay"
            controlslist="nodownload"
            disablepictureinpicture=""
            loop="loop"
            muted="muted"
            playsinline=""
            preload="auto"
            src=""
            data-start-src="video/team-first-screen.mp4")
            source(src="" type="video/mp4")

    .first-screen__caption
        span команда

    button.first-screen__play(type="button" data-fancybox href="https://www.youtube.com/watch?v=CRjMgpKvzHg")