section.team
    .container.team__item.animation#realization
        .row
            .col-12.col-xl-4
                //- .open
                .team__card.animation
                    p.team__position
                        span реализация
                        button(type="button")

                    span.team__img
                        img(src="img/realization.jpg" alt="")

                    ul.team__text-list
                        //- .active
                        li
                            p С 2011 года воплощаем мечты в жизнь.  Реализовали более 200 проектов разного уровня сложности.
                            p
                                | Когда другие говорят, что в сложном ремонте многое невозможно, мы берем и делаем это.&nbsp;
                                strong Не словом, а делом доказываем свою компетентность
                        li
                            p Стандарты ремонта, которые я внедрил, изменили культуру отрасли и ввели новое отношение к процессу реализации. Оно  транслирует качество, аккуратность и бережное отношение к имуществу Заказчика. Я четко знаю, насколько дорого в строительстве обходятся неопытность и непрофессионализм. Поэтому отбираю только мастеров с «золотыми руками» и честным отношением к делу.

                        li
                            p Реализация — самый сложный и объемный этап создания вашей новой реальности. Мы делаем его точным, спокойным и комфортным. С 2013 года выпускаем видео о результатах работы. На нашем Youtube канале Forcemontage более 22 000 000 просмотров.
                            strong
                                i Красота субъективна, стиль и&nbsp;качество нет.

                    h3.team__name
                        | Алексей
                        br
                        | Николаев
                        span.btn-inform(
                            type="button"
                            data-toggle="modal"
                            data-target="#speaker")

                    p.team__desc
                        | Строитель и основатель
                        br
                        | FORCEMONTAGE

            .col-12.col-xl-8
                .team__gallery
                    h3.team__title
                        | Алексей Николаев
                        span.btn-inform(
                            type="button"
                            data-toggle="modal"
                            data-target="#speaker")

                    .team__wrapper

                        .team__element.active
                            p.team__subtitle
                                | Строитель и основатель
                                br
                                | FORCEMONTAGE

                            ul.team__pics
                                li.team__pic(style="background-image: url('img/realiz-1.jpg')")
                                li.team__pic(style="background-image: url('img/realiz-2.jpg')")
                                    span.cross
                                li.team__pic(style="background-image: url('img/realiz-3.jpg')")

                        .team__element
                            h3 реализация
                            p.team__text
                                span
                                    | С 2011 года воплощаем мечты в жизнь.
                                    br
                                    | Реализовали более 200 проектов разного уровня сложности.
                                    br
                                    br
                                    | Когда другие говорят, что в сложном ремонте многое невозможно, мы берем и делаем это.
                                    br
                                    strong Не словом, а делом доказываем свою компетентность

                                span Строитель и основатель FORCEMONTAGE