mixin reviews-item(num, text, link, pic)
    li.reviews__item.animation.animation-line-point
        span.reviews__number= num

        button.reviews__link(type="button"
            data-toggle="modal"
            data-target="#modalYoutube"
            data-youtube-src=`https://www.youtube.com/embed/${link}?controls=0`
            style=`background-image: url("${pic}");`)
            p= text
            span